div.port_desk_container {
	margin-top: -6px;
	/*margin-left: -6px;*/
	/*margin-right: -6px;*/
	/*margin: 0;*/
	/*padding: 0;*/
	display:    table;
	width:      100%;
}

div.port_desk_port_list_item {
	display: table-row;
	height:  75px;
	margin:  0 -5px 0 -5px;

}

div.port_desk_port_list_first {
	display: table-cell;
	width:   80px;
}

div.port_desk_port_list_sec {
	display: table-cell;
}

div.port_desk_port_list_shared {
	float:        right;
	margin-right: 15px;
	margin-top:   20px;
}

div.port_desk_port_list_title {
	margin-left: 45px;
	margin-top:  25px;
	float:       left;
}

div.port_desk_port_actions {
	float:        right;
	margin-right: 12px;
	margin-top:   25px;
}

div.port_desk_port_list_shared span {
	color:        grey;
	font-size:    10px;
	margin-right: 11px;
	margin-top:   7px;

}

div.port_desk_port_list_img img {
	height:     50px;
	width:       50px;
	margin-left: 5px;
	margin-top: -10px;

}